:root {
  --hn-grey: hsl(60deg 31% 95%);
  --hn-orange: hsl(24deg 100% 50%);
  --hn-orange-light: hsl(24deg 100% 70%);
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  background: var(--hn-grey);
}

em {
  text-decoration: underline;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 8px;
}

#Main {
  max-width: 720px;
  margin: 0 auto;
}

header {
  padding: 18px 40px;
  background: var(--hn-orange);
}

header h1 {
  color: white;
}

.description-text {
  margin: 34px 0 24px;
  padding: 12px 30px;
  border: 1px solid black;
}
